.App {
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('./assets/image-profile-desktop.webp');
    background-repeat: no-repeat;
    background-size: 445px 720px;
    background-position: right 150px top 0px;
}

.App .appContainer {
    padding: 0px 150px;
}

@media screen and (max-width: 1200px) {
    .App {
        background-image: none;
    }
}

@media screen and (max-width: 768px) {
    .App .appContainer {
        padding: 0px 32px;
    }
}
