.title {
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading (XL) */
    font-family: Space Grotesk;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 100% */
    letter-spacing: -2.5px;
}

.title .name {
    text-decoration: underline var(--Green, #4EE1A0);
}

.description {
    margin-top: 37px;
    width: 445px;
    color: var(--Grey, #D9D9D9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body */
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

@media screen and (max-width: 768px) {
    .title {
        margin-top: 37px;
        width: 445px;
        color: var(--White, #FFF);
        font-family: Space Grotesk;
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -2.045px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        width: 100%;
        margin-top: 0px;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        text-wrap: wrap;
        overflow-wrap: break-word;
    }

    .description {
        width: 100%;
    }
}