.projects {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .project {
    padding-bottom: 60px;
}

.projects .project img {
    width: 545.809px;
    height: 400px;
    flex-shrink: 0;
}

.projects .project .projectTitle {
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

.projects .project .languages {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.projects .project .languages .language {
    color: var(--Grey, #D9D9D9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body */
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.view {
    cursor: pointer;
    color: var(--White, #FFF);
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.286px;
    text-decoration: underline var(--Green, #4EE1A0);
}

.imageContainer {
    position: relative;
    display: inline-block;
}

.projectImage {
    opacity: 1;
    transition: opacity 0.3s;
}

.buttonContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer:hover .projectImage {
    opacity: 0.3;
}

.imageContainer:hover .buttonContainer {
    opacity: 1;
}

.view:hover {
    color: var(--Green, #4EE1A0);
    cursor: pointer;
}

.view:hover ~ .projectImage {
    opacity: 0.3;
}

@media screen and (max-width: 1400px) {
    .projects .project img {
        width: 450px;
        height: 353px;
    }
}

@media screen and (max-width: 1200px) {
    .projects {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .projects {
        margin-top: 80px;
        align-items: center;
        justify-content: center;
    }

    .buttonContainer {
        top: initial;
        left: initial;
        transform: initial;
        margin-top: 10px;
        opacity: 1;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .view {
        opacity: 1;
    }

    .projects .project img {
        width: 300px;
        height: 200px;
    }
}
